.logContainer {
  font-family: monospace;
  background: #e0e0e0;
  margin-top: 15px;
  padding: 40px;
  border-radius: 4px;
}

.logContainer .logs {
  height: 300px;
  overflow-y: scroll;
}

.log {
  margin-bottom: 7px;
}

.log.warning {
  color: orange;
}

.log.error {
  color: red;
}

.statusContainer {
  font-size: 18px;
}

.statusContainer button {
  background: transparent;
  border: 1px solid red;
  cursor: pointer;
  color: red;
  box-shadow: none;
  border-radius: 2px;
  font-size: 16px;
}

.statusContainer button:hover,
.statusContainer button:focus {
  background: red;
  color: white;
}