.logContainer {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  font-family: monospace;
  background: #e0e0e0;
  margin-top: 15px;
}

.log {
  margin-bottom: 7px;
}

.log.warning {
  color: orange;
}

.log.error {
  color: red;
}
